%h1 Add role

- if @role.errors.any?
  %ul
    - @role.errors.full_messages.each do |msg|
      %li=msg 

= form_for @role, :url => authengine_roles_path  do |f|
  %table
    %tr
      %td
        %label{:for => :name} Name:
      %td{:colspan=>"3"}= f.text_field :name
  - submit_or_return_to authengine_roles_path
