<h1>Roles Configured for the ORI Database:</h1>
<table cellspacing='0', cellpadding='4'>
	<tr>
		<th>Role</th>
	</tr>
<% for role in @all_roles %>
  <tr>
    <td><%=h role.name %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Add new role', :controller=>:roles, :action=>:new %>