%h1 New role

- if @role.errors.any?
  %ul
    - @role.errors.full_messages.each do |msg|
      %li=msg 

= form_for(@role) do |f|
  %table
    %tr
      %td Name:
      %td{:colspan=>"3"}= f.text_field :name
  = f.submit "Create"
