- content_for :authengine do
  = yield

- content_for :head do
  :css
    #authengine_logout { 
      position : absolute;
      padding-left : 700px;
      padding-top : 20px;
    }

    #admin_logout > a{
      color : white
    }
  - if Rails.env.test?
    %script
      confirm = function(){ return true; }; alert = function() { return true; };

= render :file => 'layouts/application'




